section {
  #cart-page {
    align-items: flex-end;

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 40px 0;

      thead {
        th {
          border-bottom: 1px solid #fff;
        }

        th:nth-child(1) {
          width: 30%;
        }

        th:nth-child(2) {
          width: 20%;
        }

        th:nth-child(3) {
          width: 20%;
        }

        th:nth-child(4) {
          width: 15%;
        }

        th:nth-child(5) {
          width: 10%;
        }

        th:nth-child(6) {
          width: 5%;
        }
      }

      tbody {
        td {
          text-align: center;
          border-bottom: 1px solid rgb(154, 153, 153);

          input {
            width: 60px;
            height: 24px;
            padding: 0 4px;

            &:focus {
              outline: 1px solid $accent-color;
            }
          }

          select {
            height: 24px;
            width: 100px;

            &:focus {
              outline: 1px solid $accent-color;
            }
          }

          button {
            padding: 4px;
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
        }
      }

      th,
      td {
        padding: 20px;
      }

      tfoot {
        th:first-child {
          text-transform: uppercase;
        }
      }
    }

    @media screen and (max-width: 670px) {
      thead {
        display: none;
      }

      tbody tr td {
        text-align: right;
        display: block;

        &:before {
          content: attr(aria-label);
          float: left;
          font-weight: bold;
        }
      }

      tr {
        display: block;
        border-bottom: 2px solid #e8e9eb;

        td:last-child {
          border-bottom: none;
        }
      }

      tfoot tr {
        th:nth-child(1) {
          width: 50%;
        }

        th:nth-child(2) {
          width: 0;
        }

        th:nth-child(3) {
          width: 0;
        }

        th:nth-child(4) {
          width: 25%;
        }

        th:nth-child(5) {
          width: 25%;
        }

        th:nth-child(6) {
          width: 0;
        }
      }
    }

    .cart-buttons {
      button {
        margin: 0 10px 40px;
      }
    }
  }
}

.secondary-button {
  padding: 12px 40px;
  border-radius: 20px;
  border: 2px solid $accent-color;
  cursor: pointer;
  background-color: transparent;
  color: white;
  transition: 300ms ease-out;
  font-size: 16px;
  opacity: 1;

  &:hover {
    border: 2px solid #cb31a7;
    background-color: #cb31a7;
  }
}
