.game-card {
  display: flex;
  width: 900px;
  height: 300px;
  margin: 40px auto;
  background-color: $basicColor;
  border-radius: 20px;
  align-items: center;

  .game-img {
    height: 300px;
    width: 200px;
    border-radius: 20px 0 0 20px;
  }

  .game-info {
    margin-left: 40px;

    .main-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;

      h3 {
        font-size: 22px;
      }

      .platform img {
        width: 24px;
        height: 24px;
      }
    }

    p {
      font-size: 14px;
      width: 600px;
      margin-bottom: 20px;
    }

    .price-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        font-size: 26px;
        font-weight: normal;
      }
    }
  }
}
