section {
  .title {
    display: flex;
    align-items: center;
    position: relative;
    width: 810px;

    .layout {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 24px;

      .changeLayout {
        padding: 6px;
        background-color: transparent;
        border: 2px solid #fff;
      }

      .grid {
        border-radius: 6px 0 0 6px;
        border-right: none;
      }

      .list {
        border-radius: 0 6px 6px 0;
      }

      .activeLayout {
        background-color: $accent-color;
      }

      @media screen and (max-width: 980px) {
        right: 52px;
      }
      @media screen and (max-width: 640px) {
        display: none;
      }
    }
    @media screen and (max-width: 980px) and (min-width: 640px) {
      width: 640px;
    }
    @media screen and (max-width: 640px) {
      width: 100%;
    }
  }

  .gamesGrid {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .gamesList {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  a {
    .gameCardList {
      display: flex;
      width: 900px;
      height: 300px;
      margin: 0 15px 40px;
      background-color: $basicColor;
      border-radius: 20px;
      align-items: center;

      .gameImg {
        height: 300px;
        width: 200px;
        border-radius: 20px 0 0 20px;
        object-fit: cover;
      }

      span {
        font-size: 18px;
      }

      .gameInfo {
        margin-left: 40px;

        .mainInfo {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;

          h3 {
            font-size: 22px;
          }
        }

        p {
          font-size: 14px;
          width: 600px;
          margin-bottom: 20px;
        }
      }
    }

    @media screen and (max-width: 960px) {
      .gameCardList {
        width: 600px;
        height: 320px;

        .gameImg {
          height: 320px;
        }

        .gameInfo {
          margin-left: 20px;

          .mainInfo {
            margin-bottom: 14px;
          }

          p {
            width: 354px;
            margin-bottom: 14px;
          }
        }
      }
    }

    .platform img {
      width: 24px;
      height: 24px;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }
    }

    .priceInfo {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h4 {
        font-size: 26px;
        font-weight: normal;
      }
    }

    .gameCardGrid {
      width: 280px;
      background-color: $basicColor;
      position: relative;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin: 0 15px 30px;

      .gameImg {
        width: 280px;
        height: 340px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }

      span {
        bottom: 67px;
        font-size: 18px;
        position: absolute;
        z-index: 10;
        right: 20px;
      }

      .platform {
        position: absolute;
        top: 4px;
        left: 4px;
        background-color: rgba(59, 59, 59, 0.8);
        padding: 6px;
        border-radius: 10px;
      }

      .adminEdit {
        position: absolute;
        top: 4px;
        right: 4px;
        padding: 8px 28px;
        border-radius: 16px;
        background-color: #ececed;
        cursor: pointer;
        border: none;
        font-family: "Open Sans", sans-serif;
        transition: 300ms ease-out;

        &:hover {
          background-color: #eb99e3;
        }
      }

      .gameInfo {
        padding: 12px;

        .nameRating {
          margin-bottom: 16px;
        }
      }
    }
  }
}
